// Here you can add other styles
.c-header.c-header-fixed{
    top:0px;
}

.click-file{
    cursor:pointer;
}
//
//.table-responsive {
//    overflow-y: hidden;
//}


/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
//table {
//    display: flex;
//    flex-flow: column;
//    width: 100%;
//    font-family: arial, sans-serif;
//    border-collapse: collapse;
//}
//
//thead {
//    flex: 0 0 auto;
//}
//
//tbody {
//    flex: 1 1 auto;
//    display: block;
//    overflow-y: auto;
//    overflow-x: hidden;
//}

//tr {
//    width: 100%;
//    display: table;
//    table-layout: fixed;
//}
//
//td, th {
//    padding: 8px;
//}

//th:nth-last-child(-n+3),
//td:nth-last-child(-n+3) {
//    position: sticky;
//    right: 0px;
//}

table > tbody > td {
    width: 400px;
}

.inline-block {
    display: inline-block;
}

td.actions {
    padding-right: 0;
}

.actions {
    min-width: 100px;
}

