{% extends '../layout/main-layout.html.twig' %}

{% block pageContent %}
    <!-- Page Heading -->
{#    <div class="d-sm-flex align-items-center justify-content-between mb-4">#}
{#        <h1 class="h3 mb-0 text-gray-800">Companies</h1>#}
{#    </div>#}

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h5 class="m-0 font-weight-bold text-primary">Sensors</h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="sensor-list-table" class="small table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th class="col-1 text-center">
                            <div class="form-check">
                                <input class="form-check-input position-static" type="checkbox" id="select-all-items">
                            </div>
                        </th>
                        <th>Name</th>
                        <th>Device Name</th>
                        <th>Serial</th>
                        <th>Current Temp</th>
                        <th>Min Temp</th>
                        <th>Max Temp</th>
                        <th>Batter Status</th>
                        <th>Hub</th>
                        <th>Status</th>
                        <th>Last Seen</th>
                        <th class="col-1 text-center">Options</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link href="/assets/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
    <script src="/assets/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="/assets/js/sensor/sensor.js"></script>
{% endblock %}
