{% extends '../layout/main-layout.html.twig' %}

{% block pageContent %}
{#    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h5 class="m-0 font-weight-bold text-primary">Sensor Readings</h5>
        </div>
        <div class="card-body">
            <div class="chart-area">
                <canvas id="sensor-reading-1"></canvas>
            </div>
        </div>
    </div>#}
    <div class="row mb-4">
        <div class="col-md-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col text-center">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-3">
                                <h4 class="font-weight-bold text-primary">Total <i class="fas fa-microchip fa-1x text-primary"></i></h4>
                                <hr>
                            </div>
                            <div class="h2 mb-0 text-gray-800">
                                <span id="total-sensor-count" class="font-weight-bold">-</span> sensors
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col text-center">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-3">
                                <h4 class="font-weight-bold text-info">Healthy <i class="fas fa-leaf fa-1x text-info"></i></h4>
                                <hr>
                            </div>
                            <div class="h5 mb-0 text-gray-800">
                                <span id="healthy-sensor-count" class="font-weight-bold">-</span> in good condition
                                <a class="btn btn-link d-block" href="/devices/sensor/list">view sensors</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col text-center">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-3">
                                <h4 class="font-weight-bold text-warning">Warning <i class="fas fa-exclamation-triangle fa-1x text-warning"></i></h4>
                                <hr>
                            </div>
                            <div class="h5 mb-0 text-gray-800">
                                <span id="warning-sensor-count" class="font-weight-bold">-</span> needs attention
                                <a class="btn btn-link d-block" href="/devices/sensor/list">view sensors</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Notifications</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <table id="notification-list-table" class="small table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Message</th>
                            <th>Sensor</th>
                            <th>Zone</th>
                            <th>Company</th>
                            <th>Recorded Temp</th>
                            <th>Min Temp</th>
                            <th>Max Temp</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block stylesheets %}
    <link href="/assets/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
    <script src="/assets/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="/assets/js/dashboard/dashboard.js"></script>
{% endblock %}
